@media (min-width: 750px) {
    * {
        margin: 0;
        padding: 0;
    }

    #icone {
        display: flex;
        cursor: pointer;
        padding: 15px;
    }

    #check {
        display: none;
        background-color: #f00;
    }

    .barra {
        background-color: none;
        margin-top: -700px;
        height: 100%;
        width: 100px;
        position: absolute;
        left: auto;
        transition: all .2s linear;
    }

    .barra .link {
        list-style: none;
        background-color: #494950;
    }

    nav {
        width: 100%;
        position: absolute;
        top: 60px;
    }

    nav a {
        text-decoration: none;
    }

    .link {
        color: #f4f4f9;
        font-family: 'Arial';
        font-size: 12pt;
        padding: 20px;
        border-bottom: 2px solid #222;
        transition: all .2s linear;
        opacity: 0;
        margin-top: 200px;
    }

    .link:hover {
        background-color: #050542;
    }

    #check:checked~.barra nav a .link {
        opacity: 1;
        margin-top: 0;
        transition-delay: .2s;
    }

    #check:checked~.barra {
        transform: translateY(750px);

    }

    #intro {
        background-color: black;
        background-size: 400px;
    }

    .fases {
        background-color: black;
    }

    /* Cabecalho */
    nav#menu-horizontal {
        display: flex;
        background-color: black;

        margin-top: -58px;
        height: 65px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 5px 10px #5c5c5c;
    }

    div.DivNav {
        margin: 7%;
    }

    nav#menu-horizontal p {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: white;
        margin: 10px;
        font-size: larger;
    }

    ul#Menus li {
        list-style-type: none;
        margin: 20px;
    }

    .Link {

        width: 200px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;

        font-weight: bold;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        color: white;
        text-decoration: none;
        font-size: larger;
    }

    ul#Menus li a:hover {
        color: grey;
    }

    ul#Menus {
        display: flex;
        flex-direction: column;
    }


    /* Corpo */
    div#CorpoP {
        color: white;
        background-color: black;
        display: block;
        text-align: center;
        margin: 0 auto 0 auto;
        height: 100%;
        width: 60%;
        box-shadow: 0px 5px 10px #000000;
    }

    #Titulo {
        padding: 9em 0px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

    #Tips {
        text-align: left;
        margin-top: 1em;
        margin-left: 4rem;
        margin-bottom: 20px;
    }

    #Tips h3 {
        font-size: 1.3em;
    }

    #Tips ul {
        position: center;
        padding: 50px;
    }

    .button {
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 50px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    #button1 {
        font-size: 2em;
        background-color: black;
        color: white;
        padding: 10px 30px;
        border: 1px solid white;
    }

    #button1:hover {
        font-size: 2em;
        background-color: #ffffff;
        padding: 10px 30px;
        color: #000;
        border: 1px solid black;
    }


    /* Info/About */
    #info {
        color: blue;
    }


    /* Fase 1 */
    div#CorpoF1 {
        display: block;
        text-align: center;
        margin: 0 auto 0 auto;
        width: 60%;
    }

    #titulofase1 {
        margin-top: 2em;
    }

    .Fases {
        text-align: center;
        font-size: larger;
        padding: 1em;
    }

    #img1 {
        margin: 3rem;
        border-radius: 10px;
        height: 50%;
        width: 50%;
    }

    #resp1 {
        margin-top: 4em;
        font-size: large;
    }

    #button2 {
        background-color: black;
        color: white;
        padding: 10px 30px;
        border: 1px solid black;
    }

    #button2 :hover {
        background-color: white;
        color: #000000;
        padding: 10px 30px;
    }


    #containerTabela {
        /*centro vertical de toda a tabela*/
        align-items: center;
    }

    #tabela {
        margin: 0 auto;
        margin-top: 5em;
        width: 800px;
        border: 1px solid white;
        /*borda externa*/
        /*tirar espaços das bordas*/
        border-collapse: collapse;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    /* linha */
    #tabela tr {
        padding: 5px;
    }

    /* celulas */
    #tabela td {
        color: white;
        border: 3px solid white;
        padding: 10px;
    }



    /* Fase 2 */
    #CorpoF2 {
        font-size: 3rem;
        padding: 3rem;
        margin-top: 10rem;
        color: black;
        text-align: center;
    }

    #CorpoF2:hover {
        color: white;
    }

    #pergunta {
        display: inline-block;
        font-size: 0.8rem;
        margin-top: 20rem;
        color: black;
    }

    #pergunta:hover {
        color: white;
    }


    /* Fase 3 */
    #CorpoF3 {
        font-size: 2rem;
        padding: 2rem;
        margin-top: 1rem;
        color: white;
        text-align: center;
    }

}





/*TELAS MENORES*/



@media (max-width: 750px) {
    * {
        margin: 0;
        padding: 0;
    }

    #icone {
        display: flex;
        cursor: pointer;
        padding: 15px;
    }

    #check {
        display: none;
        background-color: #f00;
    }

    .barra {
        background-color: none;
        margin-left: -1090px;
        margin-top: 20px;
        height: 100%;
        width: 98px;
        position: absolute;
        left: auto;
        transition: all .2s linear;
    }

    .barra .link {
        list-style: none;
        background-color: #494950;
    }

    nav {
        width: 100%;
        position: absolute;
        top: 60px;
    }

    nav a {
        text-decoration: none;
    }

    .link {
        color: #f4f4f9;
        font-family: 'Arial';
        font-size: 12pt;
        padding: 20px;
        border-bottom: 2px solid #222;
        transition: all .2s linear;
        opacity: 0;
        margin-top: 200px;
    }

    .link:hover {
        background-color: #050542;
    }

    #check:checked~.barra nav a .link {
        opacity: 1;
        margin-top: 0;
        transition-delay: .2s;
    }

    #check:checked~.barra {
        transform: translateX(900px);

    }

    #intro {
        background-color: black;
        background-size: 400px;
    }

    .fases {
        background-color: black;
    }

    /* Cabecalho */
    nav#menu-horizontal {
        display: flex;
        background-color: black;

        margin-top: -58px;
        height: 65px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 5px 10px #5c5c5c;
    }

    div.DivNav {
        margin: 7%;
    }

    nav#menu-horizontal p {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: white;
        margin: 10px;
        font-size: larger;
    }

    ul#Menus li {
        list-style-type: none;
        margin: 20px;
    }

    .Link {

        font-weight: bold;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        color: white;
        text-decoration: none;
        font-size: larger;
    }

    ul#Menus li a:hover {
        color: grey;
    }

    ul#Menus {
        display: flex;
        flex-direction: raw;
    }


    /* Corpo */
    div#CorpoP {
        color: white;
        background-color: black;
        display: block;
        text-align: center;
        margin: 50px auto 0 auto;
        height: 100%;
        width: 80%;
    }

    #Titulo {
        padding: 9em 0px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

    #Tips {
        text-align: left;
        margin-top: -50px;
        margin-left: 1rem;
    }

    #Tips h3 {
        font-size: 1.3em;
    }

    #Tips ul {
        position: center;
        padding: 50px;
    }

    .button {
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    #button1 {
        font-size: 2em;
        background-color: black;
        color: white;
        padding: 10px 30px;
        border: 1px solid white;
    }

    #button1:hover {
        font-size: 2em;
        background-color: #ffffff;
        padding: 10px 30px;
        color: #000;
        border: 1px solid black;
    }


    /* Info/About */
    #info {
        color: blue;
    }


    /* Fase 1 */
    div#CorpoF1 {
        display: block;
        text-align: center;
        margin: 0 auto 0 auto;
        width: 60%;
    }

    #titulofase1 {
        margin-top: 2em;
    }

    .Fases {
        text-align: center;
        font-size: larger;
        padding: 1em;
    }

    #img1 {
        margin: 3rem;
        border-radius: 10px;
        height: 50%;
        width: 50%;
    }

    #resp1 {
        margin-top: 4em;
        font-size: large;
    }

    #button2 {
        background-color: black;
        color: white;
        padding: 10px 30px;
        border: 1px solid black;
    }

    #button2 :hover {
        background-color: white;
        color: #000000;
        padding: 10px 30px;
    }


    #containerTabela {
        /*centro vertical de toda a tabela*/
        align-items: center;
    }

    #tabela {
        margin: 0 auto;
        margin-top: 5em;
        width: 800px;
        border: 1px solid white;
        /*borda externa*/
        /*tirar espaços das bordas*/
        border-collapse: collapse;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    /* linha */
    #tabela tr {
        padding: 5px;
    }

    /* celulas */
    #tabela td {
        color: white;
        border: 3px solid white;
        padding: 10px;
    }



    /* Fase 2 */
    #CorpoF2 {
        font-size: 3rem;
        padding: 3rem;
        margin-top: 10rem;
        color: black;
        text-align: center;
    }

    #CorpoF2:hover {
        color: white;
    }

    #pergunta {
        display: inline-block;
        font-size: 0.8rem;
        margin-top: 20rem;
        color: black;
    }

    #pergunta:hover {
        color: white;
    }


    /* Fase 3 */
    #CorpoF3 {
        font-size: 2rem;
        padding: 2rem;
        margin-top: 1rem;
        color: white;
        text-align: center;
    }


}